html,
body,
#root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: rgb(255, 255, 255);
}

.container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  top: 0;
  left: 0;
}

.thunder1 {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.thunder2 {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.svger {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 1180vh;
}

.test {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10rem;
}
